/* 增加每日一言模块 */
.poem-wrap {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: 0;
    text-align: center;
    margin: 80px auto;
  }
  .poem-left {
    left: 0;
  }
  .poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
  }
  .poem-right {
    right: 0;
  }
  .poem-wrap h1 {
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
  }
  .poem-wrap p:nth-of-type(1) {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
  }
  .poem-wrap p {
    width: 70%;
    margin: auto;
    line-height: 30px;
    color: #797979;
    font-family: 'Linux Biolinum', 'Noto Serif SC', Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
  }
  .poem-wrap p:nth-of-type(2) {
    font-size: 18px;
    margin: 15px auto;
  }
  .bozhushuo {
    font-size: 19px !important;
    margin: 0 0 12px !important;
    line-height: 1.9rem;
    font-family: 'Linux Biolinum', 'Noto Serif SC', Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
  }
  .notice {
    margin: 30px auto;
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 95%;
    background: #fbfbfb50;
    border-radius: 10px;
    font-size: 16px;
  }
  .notice-content {
    display: initial;
    vertical-align: middle;
  }
  /* note 提示引用模块 */
  .note {
    position: relative;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: initial;
    border-left: 3px solid #eee;
    background-color: #f9f9f9;
    border-radius: 3px;
    font-size: var(--content-font-size);
  }
  .note:not(.no-icon):before {
    position: absolute;
    font-family: FontAwesome;
    font-size: larger;
    top: 11px;
    left: 15px;
  }
  .note:not(.no-icon) {
    padding-left: 45px;
  }
  .note.info {
    background-color: #eef7fa;
    border-left-color: #428bca;
  }
  .note.warning {
    background-color: #fdf8ea;
    border-left-color: #f0ad4e;
  }
  .note.primary {
    background-color: #f5f0fa;
    border-left-color: #6f42c1;
  }
  .note.danger {
    background-color: #fcf1f2;
    border-left-color: #d9534f;
  }
  #visitmap a img {
    height: 200px;
  }
  
  /* 深色模式动画 */
  
  .Cuteen_DarkSky,
  .Cuteen_DarkSky:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 88888888;
  }
  .Cuteen_DarkSky {
    background: linear-gradient(#feb8b0, #fef9db);
  }
  .Cuteen_DarkSky:before {
    transition: 2s ease all;
    opacity: 0;
    background: linear-gradient(#4c3f6d, #6c62bb, #93b1ed);
  }
  .DarkMode .Cuteen_DarkSky:before {
    opacity: 1;
  }
  .Cuteen_DarkPlanet {
    z-index: 99999999;
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
    transform-origin: center bottom;
  }
  @-webkit-keyframes CuteenPlanetMove {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes CuteenPlanetMove {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .Cuteen_DarkPlanet:after {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    content: '';
    background: linear-gradient(#fefefe, #fffbe8);
  }
  /* 字体颜色变灰白色 */
  body.DarkMode .fas,
  body.DarkMode .title,
  body.DarkMode .row .text,
  body.DarkMode article .article-content .summary,
  body.DarkMode .card .card-image .card-title,
  body.DarkMode .fa-moon-o:before,
  body.DarkMode .fa-lightbulb-o:before,
  body.DarkMode article .article-tags .chip,
  body.DarkMode .chip-container .tag-title,
  body.DarkMode div.jqcloud a,
  body.DarkMode .friends-container .tag-title,
  body.DarkMode .frind-ship .title h1,
  body.DarkMode .card .card-content p,
  body.DarkMode .card .card-content .dss,
  body.DarkMode .v[data-class='v'] .vcount,
  body.DarkMode .v[data-class='v'] .vcount .vnum,
  body.DarkMode pre code,
  body.DarkMode h1,
  body.DarkMode h2,
  body.DarkMode h3,
  body.DarkMode h4,
  body.DarkMode h5,
  body.DarkMode h6,
  body.DarkMode li,
  body.DarkMode p,
  body.DarkMode header .side-nav .mobile-head .logo-name,
  body.DarkMode header .side-nav .mobile-head .logo-desc,
  body.DarkMode header .side-nav .menu-list a,
  body.DarkMode .bg-cover .post-title,
  body.DarkMode a {
    color: rgba(255, 255, 255, 0.6);
  }
  /* 背景颜色变灰色 */
  body.DarkMode .card,
  body.DarkMode .block-with-text:after {
    background-color: #282c34;
  }
  /* 背景颜色变黑色 */
  body.DarkMode,
  body.DarkMode .v[data-class='v'] .vcount,
  body.DarkMode #rewardModal .modal-content,
  body.DarkMode .modal,
  body.DarkMode header .side-nav,
  body.DarkMode header .side-nav .menu-list .m-nav-show {
    background-color: #12121c;
  }
  /* 改变透明度 */
  body.DarkMode .aplayer {
    background: #2f3742 !important;
  }
  body.DarkMode img,
  body.DarkMode strong {
    filter: brightness(0.7);
  }
  /*节日模式 */
  /* 节日模式 按钮*/
  #switchspring {
    background: #dc8f03;
    width: 38px;
    height: 38px;
    display: block;
    position: fixed;
    border-radius: 50%;
    right: 15px;
    bottom: 170px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
    cursor: pointer;
  }
  #switchchristmas {
    width: 38px;
    height: 38px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
    cursor: pointer;
  }
  .theme-button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
  }
  .theme-buttonchrismas {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 1.7px;
  }
  /*节日主题 挂件吊线*/
  /*春节*/
  .caishenxianleft {
    left: 16% !important;
    position: absolute;
    top: 0px;
    width: 2px;
    height: 20px;
    background: #dc8f03;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  
  .caishenxian {
    position: absolute;
    top: 0px;
    right: 20%;
    width: 2px;
    height: 20px;
    background: #dc8f03;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  .guguxian {
    position: absolute;
    top: 0px;
    left: 20%;
    width: 2px;
    height: 20px;
    background: #dc8f03;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  .wenzhangxian {
    left: 50% !important;
    z-index: 998;
  }
  /*圣诞节 挂件绳*/
  .caishenxianleftsd {
    left: 16% !important;
    position: absolute;
    top: 0px;
    width: 2px;
    height: 20px;
    background: #5be4db;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  
  .caishenxiansd {
    position: absolute;
    top: 0px;
    right: 20%;
    width: 2px;
    height: 20px;
    background: #5be4db;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  
  .guguxiansd {
    position: absolute;
    top: 0px;
    left: 20%;
    width: 2px;
    height: 20px;
    background: #5be4db;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  .wenzhangxiansd {
    left: 50% !important;
    z-index: 998;
  }
  /*主题 挂件*/
  .fudai {
    top: 14px !important;
    left: -22px !important;
  }
  .caishenpic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: -22px;
    z-index: 9;
    /* transform-origin: 50% -100px; */
    animation: swing 3.5s infinite ease-in-out;
    /* -webkit-transform-origin: 50% -100px; */
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  .lala {
    width: 32px !important;
    height: 32px !important;
    opacity: 1 !important;
    left: -4px !important;
    top: 14px !important;
  }
  .chunp {
    width: 216px !important;
    height: 96px !important;
    left: -80px !important;
    top: 6px !important;
  }
  .fudao {
    width: 38px;
    height: 38px;
    top: 18px !important;
    left: -19px !important;
  }
  .lions {
    width: 32px !important;
    height: 32px !important;
    opacity: 1 !important;
    left: -15px !important;
    top: 14px !important;
  }
  .fenleiss {
    position: absolute;
    top: -64px;
    left: 20%;
    width: 2px;
    height: 20px;
    background: #dc8f03;
    transform-origin: 50% -100px;
    animation: swing 3.5s infinite ease-in-out;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  .gugus {
    width: 32px !important;
    height: 32px !important;
    opacity: 1 !important;
    left: -15px !important;
    top: 9px !important;
  }
  .huadengpic {
    width: 40px !important;
    height: 40px !important;
    opacity: 1 !important;
    left: -18px !important;
    top: 9px !important;
  }
  .shanzipic {
    width: 40px !important;
    height: 40px !important;
    opacity: 1 !important;
    left: -18px !important;
    top: 18px !important;
  }
  /*圣诞挂件*/
  .caishenpicsd {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: -22px;
    z-index: 9;
    /* transform-origin: 50% -100px; */
    animation: swing 3.5s infinite ease-in-out;
    /* -webkit-transform-origin: 50% -100px; */
    -webkit-animation: swing 3.5s infinite ease-in-out;
  }
  
  /*主题 帽子*/
  .labelmz {
    width: 34px;
    height: 34px;
    top: 7px;
    right: -84px;
    transform: rotate(40deg);
    position: absolute;
    z-index: 99;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: mzanimate 5s infinite ease-in-out;
  }
  .weilemz {
    position: relative;
  }
  .friendmz {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: 8px;
    right: -90px;
    transform: rotate(44deg);
    position: absolute;
    z-index: 99;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: mzanimate 1.2s infinite ease-in-out;
  }
  
  .xiaomaozitx {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -127px;
    right: 25%;
    transform: rotate(40deg);
    position: absolute;
    z-index: 99;
    -webkit-animation: mzanimate 1.2s infinite ease-in-out;
  }
  .labelmzsd {
    width: 34px;
    height: 34px;
    top: 10px;
    right: -95px;
    transform: rotate(40deg);
    position: absolute;
    z-index: 99;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: mzanimate 5s infinite ease-in-out;
  }
  /* 点击显示或者隐藏总样式开始 */
  .caishendeng,
  .xiaomaozitx,
  .labelmz,
  .friendmz,
  .caishendengsd,
  .labelmzsd {
    display: none;
  }
  body.themespring .caishendeng,
  body.themespring .xiaomaozitx,
  body.themespring .labelmz,
  body.themespring .friendmz,
  body.themechris .caishendengsd,
  body.themechris .labelmzsd {
    display: block;
  }
  /* 点击显示或者隐藏总样式结束 */
  .toupic {
    position: relative;
  }
  .denglong {
    display: none;
  }
  body.themespring .denglong {
    display: block;
  }
  @media only screen and (min-width: 1124px) {
    .nav-menu {
      padding-right: 0px;
    }
    body.themespring .nav-menu {
      padding-right: 96px;
    }
  }
  @media only screen and (max-width: 760px) {
    .denglong .deng-box,
    .denglong .deng-box1 {
      display: none;
    }
    body.themespring .right {
      float: left !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .right {
      float: left !important;
    }
  }
  /*春节主题 灯笼*/
  .deng-box {
    position: fixed;
    top: -40px;
    right: -20px;
    z-index: 999;
  }
  .deng-box1 {
    position: fixed;
    top: -30px;
    right: 10px;
    z-index: 999;
  }
  .deng-box1 .deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 5s infinite ease-in-out;
    box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
  }
  .deng {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 50px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.8);
    border-radius: 50% 50%;
    -webkit-transform-origin: 50% -100px;
    -webkit-animation: swing 3s infinite ease-in-out;
    box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
  }
  .deng-a {
    width: 100px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: 12px 8px 8px 10px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03;
  }
  .deng-b {
    width: 45px;
    height: 90px;
    background: #d8000f;
    background: rgba(216, 0, 15, 0.1);
    margin: -4px 8px 8px 26px;
    border-radius: 50% 50%;
    border: 2px solid #dc8f03;
  }
  .xian {
    position: absolute;
    top: -20px;
    left: 60px;
    width: 2px;
    height: 20px;
    background: #dc8f03;
  }
  .shui-a {
    position: relative;
    width: 5px;
    height: 20px;
    margin: -5px 0 0 59px;
    -webkit-animation: swing 4s infinite ease-in-out;
    -webkit-transform-origin: 50% -45px;
    background: #ffa500;
    border-radius: 0 0 5px 5px;
  }
  .shui-b {
    position: absolute;
    top: 14px;
    left: -2px;
    width: 10px;
    height: 10px;
    background: #dc8f03;
    border-radius: 50%;
  }
  .shui-c {
    position: absolute;
    top: 18px;
    left: -2px;
    width: 10px;
    height: 35px;
    background: #ffa500;
    border-radius: 0 0 0 5px;
  }
  .deng:before {
    position: absolute;
    top: -7px;
    left: 29px;
    height: 12px;
    width: 60px;
    content: ' ';
    display: block;
    z-index: 999;
    border-radius: 5px 5px 0 0;
    border: solid 1px #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
  }
  .deng:after {
    position: absolute;
    bottom: -7px;
    left: 10px;
    height: 12px;
    width: 60px;
    content: ' ';
    display: block;
    margin-left: 20px;
    border-radius: 0 0 5px 5px;
    border: solid 1px #dc8f03;
    background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
  }
  .deng-t {
    font-family: 华文行楷;
    font-size: 26px;
    color: #dc8f03;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
  }
  .night .deng-t,
  .night .deng-box,
  .night .deng-box1 {
    background: transparent !important;
  }
  @-moz-keyframes swing {
    0% {
      -moz-transform: rotate(-10deg);
    }
    50% {
      -moz-transform: rotate(10deg);
    }
    100% {
      -moz-transform: rotate(-10deg);
    }
  }
  @-webkit-keyframes swing {
    0% {
      -webkit-transform: rotate(-10deg);
    }
    50% {
      -webkit-transform: rotate(10deg);
    }
    100% {
      -webkit-transform: rotate(-10deg);
    }
  }
  /*主题样式结束*/
  /*valine修改*/
  #vcomments .vcards .vcard {
    padding: 15px 20px 0 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
  }
  #vcomments .vcards .vcard:hover {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.12);
  }
  
  #vcomments .vcards .vcard .vh .vcard {
    border: none;
    box-shadow: none;
  }
  /* 友链对齐*/
  .frind-ship .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /*滚动条 */
  ::-webkit-scrollbar-thumb {
    background-color: #6dd0f2;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .tangguo {
    vertical-align: middle;
    width: 34px;
  }
  .dashang th,
  .dashang td {
    text-align: center;
  }
  /*向上按钮*/
  .theme-button-up {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    margin: auto;
}
.menu-V {
  display: block;
  box-sizing: border-box;
  background: #fff;
  height: 48px;
  width: 48px;
  padding: 22px;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
  z-index: 9999;
}
.menu-V:hover {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.12);
}
.menu-V.expanded {
  width: 203px;
  border-radius: 15px;
}
.menu-V .icon-V {
  padding: 3px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  transform: rotateY(0);
  position: relative;
  right: 6px;
  top: -18px;
}
.menu-V .icon-V:nth-of-type(1) {
  transition-delay: 0.4s;
}
.menu-V .icon-V:nth-of-type(2) {
  transition-delay: 0.5s;
}
.menu-V .icon-V:nth-of-type(3) {
  transition-delay: 0.6s;
}
.menu-V .icon-V:nth-of-type(4) {
  transition-delay: 0.7s;
}
.menu-V .icon-V.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(90deg);
}
.menu-V .icon-V.hidden:nth-of-type(1) {
  transition-delay: 0.3s;
}
.menu-V .icon-V.hidden:nth-of-type(2) {
  transition-delay: 0.2s;
}
.menu-V .icon-V.hidden:nth-of-type(3) {
  transition-delay: 0.1s;
}
.menu-V .icon-V.hidden:nth-of-type(4) {
  transition-delay: 0s;
}
.menu-V .container-M {
  position: absolute;
  top: 3px;
  right: calc(100% - 53.5px);
  height: 42.75px;
  width: 58.5px;
  transition: 1s;
}
.menu-V .container-M.close {
  right: 0;
}
.menu-V .toggle {
  position: relative;
  height: 42.75px;
  width: 58.5px;
  cursor: pointer;
}
.menu-V .toggle:after,
.toggle:before {
  content: '';
  background: #1d90f5;
  width: 36px;
  height: 4.5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.menu-V .toggle:before {
  top: -30%;
}
.menu-V .toggle:after {
  top: 30%;
}
.menu-V .toggle.close:before {
  transform: rotate(-225deg);
  top: 0;
}
.menu-V .toggle.close:after {
  transform: rotate(225deg);
  top: 0;
}

